@font-face {
  font-family: 'sukhumvit_setthin';
  src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-thin-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-thin-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-thin-webfont-webfont.svg#sukhumvit_setthin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sukhumvit_setmedium';
  src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-medium-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-medium-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-medium-webfont-webfont.svg#sukhumvit_setmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sukhumvit_settext';
  src: url("../fonts/sukhumvitset-text-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-text-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-text-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-text-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-text-webfont-webfont.svg#sukhumvit_settext") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sukhumvit_setbold';
  src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-bold-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-bold-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-bold-webfont-webfont.svg#sukhumvit_setbold") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon-pro {
  background-image: url(../images/icon-taradnet-promotion.png);
  background-repeat: no-repeat;
  background-size: 560px;
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }
  .icon-pro.icon-pro1 {
    background-position: -50px -93px; }

.img-no {
  width: 3%;
  max-width: 800px; }

.style-text {
  font-weight: 800;
  font-size: 40px; }
