@font-face {
  font-family: 'sukhumvit_setthin';
  src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-thin-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-thin-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-thin-webfont-webfont.svg#sukhumvit_setthin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sukhumvit_setmedium';
  src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-medium-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-medium-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-medium-webfont-webfont.svg#sukhumvit_setmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sukhumvit_settext';
  src: url("../fonts/sukhumvitset-text-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-text-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-text-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-text-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-text-webfont-webfont.svg#sukhumvit_settext") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sukhumvit_setbold';
  src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-bold-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-bold-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-bold-webfont-webfont.svg#sukhumvit_setbold") format("svg");
  font-weight: normal;
  font-style: normal; }

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  clear: both; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.gutter-5 > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px; }

.btn-danger {
  background-color: #F54D00;
  border-color: #cc282b; }

.btn-danger:hover {
  color: #fff;
  background-color: #d44402;
  border-color: #ce4100; }

.bg-gray {
  background: #f1f1f2;
  padding: 30px 0; }

.bg-white {
  background: #FFFFFF;
  padding: 30px 0; }

.text-realred {
  color: #cc282b; }

.text-red {
  color: #F54D00; }
.text-red2 {
  color: #f50000;
}

.text-blue {
  color: #095a9d; }

.text-topic-red {
  color: #F54D00;
  font-family: 'sukhumvit_setbold';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5; }

.text-topic-gray {
  color: #5e5e5e;
  font-family: 'sukhumvit_setbold';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px; }

h4 {
  font-family: 'sukhumvit_setbold';
  font-weight: 400; }

.btn-more {
  margin: 30px 0; }
  .btn-more a {
    font-family: 'sukhumvit_setmedium'; }

.title-top {
  text-align: center;
  color: #095a9d;
  font-family: 'sukhumvit_setbold';
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px; }
  .title-top span {
    font-size: 16px;
    display: block;
    color: #5e5e5e;
    line-height: 2.5; }
    .title-top span span {
      font-size: 14px;
      font-family: 'sukhumvit_setmedium';
      line-height: 1; }

.ico {
  background-image: url(../images/icon-taradnet.png);
  background-repeat: no-repeat;
  background-size: 560px;
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }
  .ico.ico-teltop {
    background-position: -50px -93px; }
  .ico.ico-tel {
    background-position: -87px -93px; }
  .ico.ico-fb {
    background-position: -12px -92px; }
  .ico.ico-line {
    background-position: -160px -92px; }
  .ico.ico-address {
    background-position: -124px -92px; }
  .ico.icon-call {
    background-position: -992px -80px;
    width: 40px;
    height: 40px;
    background-size: 1350px; }
  .ico.ico-map {
    background-position: -1405px -138px; }
  .ico.ico-mail {
    background-position: -1532px -151px; }
  .ico.ico-fax {
    background-position: -1784px -136px; }
  .ico.ico-chackgreen {
    background-position: -612px -74px; }
  .ico.ico-chackorange {
    background-position: -418px -58px;
    background-size: 600px;
    width: 42px;
    height: 42px; }
  .ico.ico-unchack {
    background-position: -655px -74px; }
  .ico.ico-chackgreen, .ico.ico-unchack {
    background-size: 800px;
    width: 50px;
    height: 50px; }

.img-bullet {
  background-image: url(../images/icon-taradnet02.png);
  background-repeat: no-repeat;
  background-size: 1500px;
  width: 148px;
  height: 148px;
  display: block;
  margin: auto; }
  .img-bullet.ico-logo {
    background-position: -12px 0; }
  .img-bullet.ico-website {
    background-position: -194px 0; }
  .img-bullet.ico-shoponline {
    background-position: -379px 0; }
  .img-bullet.ico-gmail {
    background-position: -12px -364px; }
  .img-bullet.ico-calendar {
    background-position: -194px -364px; }
  .img-bullet.ico-hangout {
    background-position: -379px -364px; }
  .img-bullet.ico-drive {
    background-position: -554px -364px; }
  .img-bullet.ico-sheets {
    background-position: -12px -523px; }
  .img-bullet.ico-docs {
    background-position: -194px -523px; }
  .img-bullet.ico-slide {
    background-position: -379px -523px; }
  .img-bullet.ico-forms {
    background-position: -554px -523px; }
  .img-bullet.ico-step1 {
    background-position: -525px -14px; }
  .img-bullet.ico-step2 {
    background-position: -710px -14px; }
  .img-bullet.ico-step3 {
    background-position: -888px -14px; }
  .img-bullet.ico-step4 {
    background-position: -525px -164px; }
  .img-bullet.ico-step5 {
    background-position: -710px -164px; }
  .img-bullet.ico-step6 {
    background-position: -888px -164px; }
  .img-bullet.ico-step1, .img-bullet.ico-step2, .img-bullet.ico-step3, .img-bullet.ico-step4, .img-bullet.ico-step5, .img-bullet.ico-step6 {
    background-size: 1393px; }
  .img-bullet.ico-promote {
    background-position: -1161px -23px; }
  .img-bullet.ico-target {
    background-position: -1330px -23px; }
  .img-bullet.ico-brand {
    background-position: -1161px -183px; }
  .img-bullet.ico-profit {
    background-position: -1330px -183px; }
  .img-bullet.ico-imgads {
    background-position: -785px -375px; }
  .img-bullet.ico-vdoads {
    background-position: -1032px -375px; }
  .img-bullet.ico-carousel {
    background-position: -1287px -375px; }
  .img-bullet.ico-imgads, .img-bullet.ico-vdoads, .img-bullet.ico-carousel {
    width: 190px;
    height: 323px; }
  .img-bullet.ico-callback {
    background-position: -9px -217px; }
  .img-bullet.ico-inputform {
    background-position: -213px -217px; }
  .img-bullet.ico-callback, .img-bullet.ico-inputform {
    background-size: 1681px; }
  .img-bullet.ico-growth {
    background-position: -12px -723px; }
  .img-bullet.ico-sell {
    background-position: -194px -723px; }
  .img-bullet.ico-collaboration {
    background-position: -379px -723px; }
  .img-bullet.ico-sme {
    background-position: -554px -723px; }
  .img-bullet.ico-ecc {
    background-position: -692px -621px; }
  .img-bullet.ico-university {
    background-position: -766px -621px; }
  .img-bullet.ico-marketing {
    background-position: -840px -621px; }
  .img-bullet.ico-payment {
    background-position: -914px -621px; }
  .img-bullet.ico-trust {
    background-position: -988px -621px; }
  .img-bullet.ico-point {
    background-position: -1062px -621px; }
  .img-bullet.ico-ecc, .img-bullet.ico-university, .img-bullet.ico-marketing, .img-bullet.ico-payment, .img-bullet.ico-trust, .img-bullet.ico-point {
    background-size: 1300px;
    width: 75px;
    height: 100px; }
  .img-bullet.ico-step1web {
    background-position: -20px -855px; }
  .img-bullet.ico-step2web {
    background-position: -190px -855px; }
  .img-bullet.ico-step3web {
    background-position: -361px -855px; }
  .img-bullet.ico-step4web {
    background-position: -525px -855px; }
  .img-bullet.ico-step1web, .img-bullet.ico-step2web, .img-bullet.ico-step3web, .img-bullet.ico-step4web {
    background-size: 1393px; }
  .img-bullet.ico-menu {
    background-position: -714px -769px; }
  .img-bullet.ico-header {
    background-position: -783px -769px; }
  .img-bullet.ico-pic {
    background-position: -850px -769px; }
  .img-bullet.ico-promotion {
    background-position: -918px -769px; }
  .img-bullet.ico-landing {
    background-position: -985px -769px; }
  .img-bullet.ico-webs {
    background-position: -1054px -769px; }
  .img-bullet.ico-hotitem {
    background-position: -714px -842px; }
  .img-bullet.ico-jzone {
    background-position: -783px -842px; }
  .img-bullet.ico-bighighlight {
    background-position: -850px -842px; }
  .img-bullet.ico-mailmarket {
    background-position: -918px -842px; }
  .img-bullet.ico-menu, .img-bullet.ico-header, .img-bullet.ico-pic, .img-bullet.ico-promotion, .img-bullet.ico-landing, .img-bullet.ico-webs, .img-bullet.ico-hotitem, .img-bullet.ico-jzone, .img-bullet.ico-bighighlight, .img-bullet.ico-mailmarket {
    background-size: 1350px;
    width: 64px;
    height: 66px; }

.logo {
  background-image: url(../images/logo-partner.png);
  background-repeat: no-repeat;
  background-size: 680px;
  width: 34px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 2px 5px 2px;
  border-radius: 5px 5px 5px 5px; }
  .logo.partner1 {
    background-position: -72px -2px; }
  .logo.partner2 {
    background-position: -37px -2px; }
  .logo.partner3 {
    background-position: 0px -2px; }
  .logo.partner4 {
    background-position: -360px -2px; }
  .logo.partner5 {
    background-position: -396px -2px; }
  .logo.partner6 {
    background-position: -109px -2px; }
  .logo.partner7 {
    background-position: -145px -2px; }
  .logo.partner8 {
    background-position: -180px -2px; }
  .logo.partner9 {
    background-position: -216px -2px; }
  .logo.partner10 {
    background-position: -288px -2px; }
  .logo.partner11 {
    background-position: -252px -2px; }
  .logo.partner12 {
    background-position: -323px -2px; }
  .logo.partner13 {
    background-position: -430px -2px; }
  .logo.partner14 {
    background-position: -467px -2px; }
  .logo.partner15 {
    background-position: -505px -2px; }
  .logo.partner16 {
    background-position: -538px -2px; }
  .logo.partner17 {
    background-position: -574px -2px; }
  .logo.partner18 {
    background-position: -609px -2px; }
  .logo.partner19 {
    background-position: -646px -2px; }

.customer {
  background-image: url(../images/logo-customer.png);
  background-repeat: no-repeat;
  background-size: 700px;
  width: 285px;
  display: inline-block;
  vertical-align: middle;
  margin: 18px; }
  .customer.logo-redrank {
    background-position: 0px -14px;
    height: 56px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .customer.logo-index {
    background-position: 0px -69px;
    height: 44px; }
  .customer.logo-khaolak {
    background-position: 0px -115px;
    height: 67px; }
  .customer.logo-paysocial {
    background-position: 0px -183px;
    height: 65px; }
  .customer.logo-wynn {
    background-position: 0px -249px;
    height: 64px;
    width: 185px; }
  .customer.logo-aig {
    background-position: -185px -249px;
    height: 64px;
    width: 120px; }
  .customer.logo-honor {
    background-position: 0px -313px;
    height: 144px;
    width: 145px; }
  .customer.logo-pp {
    background-position: -146px -313px;
    height: 144px;
    width: 145px; }
  .customer.logo-vvyems {
    background-position: 0px -457px;
    height: 144px;
    width: 145px; }

.img-bullet1 {
  background-image: url(../images/icon-taradnet03.png);
  background-repeat: no-repeat;
  background-size: 1500px;
  width: 148px;
  height: 148px;
  display: block;
  margin: auto; }
  .img-bullet1.ico-profit {
    background-position: -21px -18px; }
  .img-bullet1.ico-newcustomers {
    background-position: -172px -18px; }
  .img-bullet1.ico-lowprice {
    background-position: -320px -18px; }
  .img-bullet1.ico-email {
    background-position: -469px -18px; }
  .img-bullet1.ico-emailfollow {
    background-position: -619px -18px; }
  .img-bullet1.ico-promote {
    background-position: -469px -219px; }
  .img-bullet1.ico-targetig {
    background-position: -770px -219px; }
  .img-bullet1.ico-like {
    background-position: -172px -219px; }
  .img-bullet1.ico-follow {
    background-position: -21px -419px; }
  .img-bullet1.ico-money {
    background-position: -619px -219px; }
  .img-bullet1.ico-realtime {
    background-position: -320px -219px; }
  .img-bullet1.ico-fanpage {
    background-position: -29px -377px; }
  .img-bullet1.ico-post {
    background-position: -287px -377px; }
  .img-bullet1.ico-vdo {
    background-position: -417px -377px; }
  .img-bullet1.ico-event {
    background-position: -547px -377px; }
  .img-bullet1.ico-retarget {
    background-position: -157px -377px; }
  .img-bullet1.ico-fanpage, .img-bullet1.ico-post, .img-bullet1.ico-vdo, .img-bullet1.ico-event, .img-bullet1.ico-retarget {
    background-size: 1300px;
    width: 108px;
    height: 111px; }
  .img-bullet1.ico-ads {
    background-position: -469px -619px; }
  .img-bullet1.ico-results {
    background-position: -619px -619px; }
  .img-bullet1.ico-connect {
    background-position: -320px -619px; }
  .img-bullet1.ico-choosetarget {
    background-position: -172px -619px; }
  .img-bullet1.ico-increase {
    background-position: -21px -619px; }
  .img-bullet1.ico-analyze {
    background-position: -21px -799px; }
  .img-bullet1.ico-adsrealtime {
    background-position: -619px -799px; }
  .img-bullet1.ico-landingpage {
    background-position: -172px -799px; }
  .img-bullet1.ico-keywords {
    background-position: -320px -799px; }
  .img-bullet1.ico-weeklyreport {
    background-position: -469px -799px; }

.page-title {
  text-align: center;
  padding: 15px 0;
  font-family: 'sukhumvit_setbold';
  color: #5e5e5e; }
  .page-title h2 {
    color: #095a9d;
    font-size: 30px;
    font-weight: 370; }
  .page-title p {
    font-size: 16px;
    line-height: 2; }
  .page-title strong {
    display: block;
    font-weight: 600;
    color: #3e3e3e; }

.title-blue {
  background: #0b67b1;
  text-align: center;
  padding: 10px 0; }
  .title-blue h4 {
    font-family: 'sukhumvit_setmedium';
    color: #FFFFFF;
    line-height: 1.5; }
  .title-blue h3 {
    font-family: 'sukhumvit_setmedium';
    font-size: 26px;
    color: #fff;
    line-height: 1.5; }
    .title-blue h3 i {
      color: #fdb721;
      font-style: normal;
      padding-right: 10px;
      font-family: 'sukhumvit_setbold';
      font-weight: 400;
      font-size: 28px; }

.title-topic-detail {
  text-align: center;
  color: #095a9d;
  font-family: 'sukhumvit_setbold';
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.5; }
  .title-topic-detail p {
    color: #5e5e5e;
    font-size: 20px;
    margin-top: 10px; }
    .title-topic-detail p span {
      color: #095a9d; }
  .title-topic-detail span {
    color: #5e5e5e; }
    .title-topic-detail span span {
      font-size: 20px; }

#installment .content-area p {
  font-size: 20px; }

#installment .content-area strong {
  font-size: 25px;
  font-family: 'sukhumvit_setbold';
  font-weight: 400; }

.box-red {
  background: #F54D00;
  width: 30%;
  margin: 0 auto 20px auto;
  text-align: center;
  color: #fff !important;
  padding: 10px 0; }
  .box-red strong {
    display: block;
    font-weight: 600; }

.has-error .help-block {
  color: #fdb721;
  font-family: 'sukhumvit_setmedium'; }

/* -----------------------------------*/
header {
  background: #0b67b1; }

.navbar {
  border-bottom: 1px solid #0b67b1;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #FFFFFF;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0; }
  .navbar img {
    max-width: 200px;
    width: 100%; }

.navbar-inverse .navbar-nav {
  float: right; }
  .navbar-inverse .navbar-nav > li > a {
    font-family: 'sukhumvit_setbold';
    font-weight: 400;
    color: #0b67b1;
    font-size: 15px;
    border-bottom: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF; }
    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
      color: #F54D00;
      background: none; }
  .navbar-inverse .navbar-nav > .active > a {
    color: #F54D00;
    background: none; }
    .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
      color: #F54D00;
      background: none;
      border-top: 3px solid #FFFFFF;
      text-decoration: none; }
  .navbar-inverse .navbar-nav > .open > a {
    color: #F54D00;
    border-bottom: 3px solid #0b67b1;
    background: none; }
    .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
      color: #F54D00;
      border-bottom: 3px solid #0b67b1;
      background: none;
      border-top: 3px solid #FFFFFF; }

.contact-top .contact-top-inner {
  color: #FFFFFF;
  text-align: right;
  padding: 10px 0; }

.contact-top span {
  font-family: 'sukhumvit_setmedium';
  font-weight: 400;
  font-size: 15px; }

.contact-top a {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #fdb721;
  font-family: 'sukhumvit_setbold';
  font-weight: 400; }
  .contact-top a:hover {
    text-decoration: none; }

.navbar-brand {
  height: 80px;
  margin-top: 6px; }

.nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px; }

.navbar-toggle {
  padding: 10px;
  margin: 25px 0px 25px 0; }

/* -----------------------------------*/
.maincontent {
  color: #5e5e5e; }
  .maincontent h4, .maincontent #installment strong {
    color: #3e3e3e; }
  .maincontent #onlineshop h3 {
    color: #3e3e3e; }
  .maincontent #domainname h3 {
    color: #3e3e3e; }
  .maincontent #google h3 {
    color: #3e3e3e; }
  .maincontent #facebook h3 {
    color: #3e3e3e; }
  .maincontent #instagram h3 {
    color: #3e3e3e; }
  .maincontent #email h3 {
    color: #3e3e3e; }
  .maincontent #googleapp h3 {
    color: #3e3e3e; }

.intro-top {
  background: #095fa2 url(../images/bg-blue01.png) no-repeat center top;
  background-size: 100% auto;
  padding: 50px 0; }
  .intro-top h3 img {
    width: 100%;
    display: block;
    margin: auto; }

.main-slider .cover-img img {
  width: 100%; }

.intro-box {
  max-width: 700px;
  padding: 20px;
  margin: auto;
  position: relative;
  width: 100%; }
  .intro-box h3 {
    color: #fdb721;
    font-size: 35px;
    font-family: 'sukhumvit_setbold';
    text-align: center;
    font-weight: 400; }
    .intro-box h3 i {
      display: inline-block;
      background: url(../images/icon-taradnet.png) no-repeat 0 0;
      background-size: 754px;
      width: 7px;
      height: 7px;
      background-position: -334px -139px;
      vertical-align: middle; }
  .intro-box .corner i {
    background: url(../images/icon-taradnet.png) no-repeat 0 0;
    background-size: 1500px;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute; }
    .intro-box .corner i.corner-left {
      background-position: -648px -313px;
      top: -10px;
      left: -20px; }
    .intro-box .corner i.corner-right {
      background-position: -755px -340px;
      bottom: -10px;
      right: -20px;
      left: auto; }
  .intro-box .intro-txt-sub {
    font-family: 'sukhumvit_setbold';
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 1.8; }
  .intro-box p {
    font-family: 'sukhumvit_setmedium';
    color: #e8e7e7;
    text-align: center;
    font-size: 15px;
    line-height: 1.8; }

#ourservice {
  background: url(../images/bg-intro-top.jpg) no-repeat center center;
  background-size: 100%; }
  #ourservice h3 {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #fff;
    font-family: 'sukhumvit_setbold';
    max-width: 340px;
    margin: 40px auto;
    padding: 20px;
    font-size: 40px;
    line-height: 1.3; }
    #ourservice h3 span {
      font-size: 23px;
      display: block; }
  #ourservice .nav-scroll {
    background: #FFFFFF; }
    #ourservice .nav-scroll.is-sticky {
      border-bottom: 1px solid #F54D00; }
      #ourservice .nav-scroll.is-sticky .breadcrumb {
        width: 100%; }
        #ourservice .nav-scroll.is-sticky .breadcrumb > li:before {
          padding: 0 5px; }
        #ourservice .nav-scroll.is-sticky .breadcrumb > li a {
          padding: 9px;
          font-size: 14px; }
    #ourservice .nav-scroll .breadcrumb {
      text-align: center;
      background: #FFFFFF;
      margin: 0;
      padding: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      width: %;
      margin: auto; }
      #ourservice .nav-scroll .breadcrumb > li {
        font-family: 'sukhumvit_setmedium';
        font-size: 16px; }
        #ourservice .nav-scroll .breadcrumb > li a {
          color: #F54D00;
          padding: 10px 20px;
          display: inline-block; }
          #ourservice .nav-scroll .breadcrumb > li a.active {
            background: #F54D00;
            color: #fff; }
        #ourservice .nav-scroll .breadcrumb > li + li:before {
          content: "|";
          color: #F54D00;
          padding: 0; }

#onlineshop dl dt img,
#domainname dl dt img,
#google dl dt img,
#facebook dl dt img,
#instagram dl dt img,
#email dl dt img,
#googleapp dl dt img {
  width: auto;
  max-width: 400px;
  max-height: 400px;
  height: auto;
  margin: auto;
  display: block; }

#onlineshop dl dd,
#domainname dl dd,
#google dl dd,
#facebook dl dd,
#instagram dl dd,
#email dl dd,
#googleapp dl dd {
  padding-top: 40px; }
  #onlineshop dl dd h3,
  #domainname dl dd h3,
  #google dl dd h3,
  #facebook dl dd h3,
  #instagram dl dd h3,
  #email dl dd h3,
  #googleapp dl dd h3 {
    font-family: 'sukhumvit_setbold';
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 400; }
  #onlineshop dl dd p,
  #domainname dl dd p,
  #google dl dd p,
  #facebook dl dd p,
  #instagram dl dd p,
  #email dl dd p,
  #googleapp dl dd p {
    font-family: 'sukhumvit_setmedium';
    font-size: 14px;
    line-height: 2; }

.owl-controls .owl-prev,
.owl-controls .owl-next {
  background: url(../images/icon-taradnet.png) no-repeat 0 0;
  background-size: 1131px;
  width: 45px;
  height: 55px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  text-indent: -99999px; }

.owl-controls .owl-prev {
  left: 30px;
  background-position: -574px -123px; }
  .owl-controls .owl-prev:hover {
    background-position: -574px -172px; }

.owl-controls .owl-next {
  right: 30px;
  background-position: -621px -123px; }
  .owl-controls .owl-next:hover {
    background-position: -621px -172px; }

.owl-dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%; }
  .owl-dots .owl-dot {
    background: #515252;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px; }
    .owl-dots .owl-dot.active {
      background: #095a9d; }

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%; }

/*/ Back to top button /*/
#backtop {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 999999;
  opacity: 0.9;
  width: 50px; }

#backtop a {
  width: 108px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

#backtop a:hover {
  color: #000; }

#backtop a:hover span {
  background-color: #777; }

#backtop span {
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 7px;
  background: #cccccc url(http://www.tarad.com/images/event_discount/ui/images/up-arrow.png) no-repeat center center;
  background-size: 23px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.ico-top {
  background: url(../images/icon-taradnet.png) no-repeat 0 0;
  background-size: 560px;
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }
  .ico-top.ico-shopping {
    background-position: -234px -56px; }
  .ico-top.ico-domain {
    background-position: -197px -56px; }
  .ico-top.ico-googleapp {
    background-position: -87px -56px; }
  .ico-top.ico-google {
    background-position: -50px -56px; }
  .ico-top.ico-facebook {
    background-position: -12px -56px; }
  .ico-top.ico-instagram {
    background-position: -123px -56px; }
  .ico-top.ico-email {
    background-position: -160px -56px; }

.dropdown-menu > li > a {
  padding: 10px 20px; }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #0b67b1;
    color: #fff; }
    .dropdown-menu > li > a:hover .ico-shopping, .dropdown-menu > li > a:focus .ico-shopping {
      background-position: -235px -19px; }
    .dropdown-menu > li > a:hover .ico-domain, .dropdown-menu > li > a:focus .ico-domain {
      background-position: -197px -19px; }
    .dropdown-menu > li > a:hover .ico-googleapp, .dropdown-menu > li > a:focus .ico-googleapp {
      background-position: -88px -19px; }
    .dropdown-menu > li > a:hover .ico-google, .dropdown-menu > li > a:focus .ico-google {
      background-position: -50px -19px; }
    .dropdown-menu > li > a:hover .ico-facebook, .dropdown-menu > li > a:focus .ico-facebook {
      background-position: -12px -19px; }
    .dropdown-menu > li > a:hover .ico-instagram, .dropdown-menu > li > a:focus .ico-instagram {
      background-position: -123px -19px; }
    .dropdown-menu > li > a:hover .ico-email, .dropdown-menu > li > a:focus .ico-email {
      background-position: -160px -19px; }

#contact-form {
  background: #0b67b1;
  padding: 40px 0; }
  #contact-form .title-form {
    color: #fff;
    font-family: 'sukhumvit_setbold';
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: 400;
    padding-left: 150px;
    position: relative; }
    #contact-form .title-form span {
      font-size: 14px;
      font-family: 'sukhumvit_setmedium';
      display: block;
      line-height: 2;
      color: #fdb721; }
    #contact-form .title-form i {
      position: absolute;
      left: 40px;
      top: -20px;
      width: 85px;
      height: 85px;
      background: #fdb721;
      border-radius: 100%;
      text-align: center;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      line-height: 3.5;
      color: #cc282b;
      font-style: normal; }
  #contact-form .contact-wrap {
    width: 50%;
    margin: auto; }
    #contact-form .contact-wrap .form-control {
      font-family: 'sukhumvit_setmedium'; }
    #contact-form .contact-wrap label {
      color: #fff;
      font-family: 'sukhumvit_setmedium';
      font-weight: 400;
      padding-left: 0; }
      #contact-form .contact-wrap label i {
        color: #fdb721;
        font-style: normal; }
    #contact-form .contact-wrap .btn-form {
      margin: 20px auto 0 auto;
      text-align: center; }
      #contact-form .contact-wrap .btn-form .btn {
        width: 150px;
        border: 1px solid #FFFFFF;
        font-family: 'sukhumvit_setmedium'; }

.call-info {
  background: #fdb721;
  text-align: center;
  color: #095a9d;
  font-family: 'sukhumvit_setbold';
  font-weight: 400;
  font-size: 24px;
  padding: 15px 0; }
  .call-info .text-red {
    font-family: 'sukhumvit_setbold';
    font-weight: 400; }
  .call-info a:hover {
    text-decoration: none; }

.list-detail-content {
  display: block;
  overflow: hidden; }
  .list-detail-content ul {
    overflow: hidden;
    padding: 0; }
    .list-detail-content ul li {
      list-style: none;
      text-align: center; }
      .list-detail-content ul li h3 {
        color: #F54D00;
        font-family: 'sukhumvit_setbold';
        font-weight: 400;
        font-size: 19px;
        line-height: 1.5; }
      .list-detail-content ul li p {
        color: #5e5e5e;
        line-height: 1.8;
        font-size: 13px;
        font-family: 'sukhumvit_setmedium'; }
  .list-detail-content .btn-more {
    padding: 40px 0;
    text-align: center; }

.content-area {
  width: 800px;
  margin: auto; }
  .content-area p {
    color: #5e5e5e;
    line-height: 2;
    font-size: 14px;
    font-family: 'sukhumvit_setmedium'; }
  .content-area .bg-gray {
    margin-bottom: 20px;
    padding: 20px; }
  .content-area ul li {
    color: #5e5e5e;
    line-height: 2;
    font-size: 14px;
    font-family: 'sukhumvit_setmedium'; }
  .content-area img {
    width: 100%;
    max-width: 800px; }

.list-bullet li {
  list-style: none;
  display: table;
  overflow: hidden;
  margin-bottom: 45px; }
  .list-bullet li i {
    float: left;
    width: 80px;
    height: 80px;
    display: table-cell;
    background-size: 2262px;
    vertical-align: top; }
    .list-bullet li i.ico-call {
      background-position: -1654px -136px; }
  .list-bullet li .content-box-detail {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px; }
    .list-bullet li .content-box-detail h3 {
      margin: 0;
      line-height: 1.5;
      color: #F54D00;
      font-family: 'sukhumvit_setbold';
      font-weight: 400;
      font-size: 25px; }
    .list-bullet li .content-box-detail p {
      line-height: 1.5; }
    .list-bullet li .content-box-detail strong {
      color: #3e3e3e;
      font-size: 18px;
      font-family: 'sukhumvit_setbold'; }
      .list-bullet li .content-box-detail strong a {
        color: #3e3e3e; }

.list-banktransfer, .list-price-fb, .list-price-email, .list-price-web, .list-price-web-service, .list-price-tb50 {
  width: 100%;
  border-collapse: collapse; }
  .list-banktransfer tr:nth-child(even), .list-price-fb tr:nth-child(even), .list-price-email tr:nth-child(even), .list-price-web tr:nth-child(even), .list-price-web-service tr:nth-child(even), .list-price-tb50 tr:nth-child(even) {
    background: #FFFFFF; }
  .list-banktransfer th, .list-price-fb th, .list-price-email th, .list-price-web th, .list-price-web-service th, .list-price-tb50 th {
    text-align: center;
    font-family: 'sukhumvit_setbold';
    font-weight: 400;
    font-size: 18px;
    background: #c1c1c1;
    padding: 20px;
    color: #3e3e3e;
    width: 30%; }
  .list-banktransfer td, .list-price-fb td, .list-price-email td, .list-price-web td, .list-price-web-service td, .list-price-tb50 td {
    text-align: center;
    border: 1px solid #CCCCCC;
    padding: 10px;
    font-size: 16px;
    font-family: 'sukhumvit_setmedium'; }
    .list-banktransfer td img, .list-price-fb td img, .list-price-email td img, .list-price-web td img, .list-price-web-service td img, .list-price-tb50 td img {
      width: 90%;
      max-width: 200px;
      margin: auto;
      display: block; }
    .list-banktransfer td:first-child, .list-price-fb td:first-child, .list-price-email td:first-child, .list-price-web td:first-child, .list-price-web-service td:first-child, .list-price-tb50 td:first-child {
      background-color: rgba(20, 20, 20, 0.1);
      background: rgba(20, 20, 20, 0.1); }

.table-color-yellow {
  background-color: rgba(253, 183, 33, 0.2); }

.table-color-gray {
  background-color: #f1f1f2; }

.list-price-web tr:nth-child(even) {
  background: #f1f1f2; }

.list-price-web td img {
  max-width: 820px;
  width: 100%; }

.list-table-web {
  text-align: left; }
  .list-table-web span {
    font-size: 12px;
    font-style: italic; }

.list-price-web-service tr:nth-child(3n+2) {
  background: #FFFFFF; }

.list-price-web-service tr:nth-child(1n+8) {
  background: #FFFFFF; }

.list-price-web-service td img {
  max-width: 820px;
  width: 100%; }

.zeroPadding {
  padding: 0 !important; }

.list-price-fb {
  margin-bottom: 20px; }
  .list-price-fb th {
    width: 25%;
    font-size: 16px; }
  .list-price-fb td {
    font-size: 14px;
    padding: 15px 0; }
    .list-price-fb td strong {
      display: block;
      font-size: 16px; }

.list-price-email, .list-price-web, .list-price-web-service {
  margin-bottom: 20px; }
  .list-price-email th, .list-price-web th, .list-price-web-service th {
    width: 20%;
    font-size: 16px; }
  .list-price-email td, .list-price-web td, .list-price-web-service td {
    padding: 15px 0;
    font-size: 14px; }

.box-remark {
  font-size: 16px;
  font-family: 'sukhumvit_setmedium';
  line-height: 2; }
  .box-remark span {
    display: block;
    font-family: 'sukhumvit_setbold';
    font-weight: 400;
    font-size: 19px; }

.list-creditcard li {
  font-size: 16px;
  font-family: 'sukhumvit_setmedium';
  line-height: 2; }

.googleapps-page {
  color: #5e5e5e; }
  .googleapps-page .list-detail-content .container > h3 {
    font-family: 'sukhumvit_setbold';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #0b67b1;
    padding: 20px 0; }
  .googleapps-page .list-detail-content ul {
    padding: 0; }
    .googleapps-page .list-detail-content ul li {
      padding: 10px 30px; }

.webcommerce-page {
  font-family: 'sukhumvit_setmedium';
  color: #5e5e5e;
  line-height: 2;
  font-size: 14px; }
  .webcommerce-page .list-detail-reason {
    font-family: 'sukhumvit_setbold';
    margin-top: 15px;
    margin-bottom: 15px; }
  .webcommerce-page #text-focus {
    text-align: center;
    font-size: 16px;
    color: #F54D00; }
  .webcommerce-page #detail-payment2 {
    display: none; }
  .webcommerce-page .list-price-email td, .webcommerce-page .list-price-web td, .webcommerce-page .list-price-web-service td {
    padding: 13px; }

#power-by {
  font-size: 24px;
  margin-bottom: 3px;
  margin-top: 1px; }

.domain-page .list-detail-content h3 {
  font-size: 16px;
  color: #5e5e5e;
  width: 70%;
  margin: auto;
  line-height: 1.8; }
  .domain-page .list-detail-content h3.text-red {
    font-family: 'sukhumvit_setbold';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #F54D00; }

.domain-page .list-detail-content .ico-or {
  width: 80px;
  height: 80px;
  background: #e8e7e7;
  text-align: center;
  color: #095a9d;
  text-align: center;
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  font-family: 'sukhumvit_setbold';
  font-weight: 400;
  font-size: 20px;
  line-height: 3.8;
  margin: 40px auto; }

.domain-page .domaincall {
  margin: 40px auto;
  padding: 0; }

.list-domain-name h3 {
  color: #095a9d;
  font-family: 'sukhumvit_setbold';
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px; }

.list-domain-name .searchdomain {
  width: 120%; }

.list-domain-name .form-control, .list-domain-name .btn {
  font-family: 'sukhumvit_setmedium';
  font-size: 13px; }

.list-domain-name .btn {
  padding: 13px 10px; }

.list-domain-name table {
  width: 100%;
  border-collapse: collapse; }
  .list-domain-name table tr:nth-child(odd) {
    background: #FFFFFF; }
  .list-domain-name table td {
    border: 1px solid #CCCCCC;
    vertical-align: middle; }
    .list-domain-name table td ul {
      margin-bottom: 0;
      padding: 10px 0; }
      .list-domain-name table td ul li:first-child {
        color: #095a9d;
        text-align: left; }
      .list-domain-name table td ul li .unavailable {
        color: #F54D00; }
      .list-domain-name table td ul li .available {
        color: #70a442; }

.list-domain-name .form-inline {
  margin-bottom: 25px; }

.list-domain-name .title-black {
  font-size: 16px;
  color: #3e3e3e;
  font-family: 'sukhumvit_setbold';
  font-weight: 400; }

.register {
  font-family: 'sukhumvit_setmedium'; }
  .register .page-title {
    padding: 30px 0 10px; }
  .register .content-detail {
    padding-bottom: 40px;
    text-align: center;
    line-height: 2; }
    .register .content-detail p {
      word-wrap: break-word;
      width: 54%;
      margin: auto; }
    .register .content-detail #ps {
      padding-top: 20px; }
    .register .content-detail strong {
      font-family: 'sukhumvit_setbold';
      font-size: 16px; }
  .register .contact-register .container {
    width: 60%;
    margin: auto; }
    .register .contact-register .container .contact-wrap .form-control {
      font-family: 'sukhumvit_setmedium'; }
    .register .contact-register .container .contact-wrap label {
      font-weight: 400;
      padding-left: 0; }
      .register .contact-register .container .contact-wrap label i {
        color: #F54D00;
        font-style: normal; }
    .register .contact-register .container .contact-wrap .btn-form {
      margin: 20px auto 0 auto;
      text-align: center; }
      .register .contact-register .container .contact-wrap .btn-form .btn {
        width: 150px;
        border: 1px solid #FFFFFF;
        font-family: 'sukhumvit_setmedium'; }
    .register .contact-register .container .contact-wrap .has-error .help-block {
      color: #F54D00;
      font-family: 'sukhumvit_setmedium'; }
    .register .contact-register .container .contact-wrap #checkbox-register {
      padding-left: 35px;
      padding-bottom: 14px; }
    .register .contact-register .container .contact-wrap .col-sm-3 {
      padding-right: 8px; }
    .register .contact-register .container .contact-wrap .form-horizontal .checkbox {
      padding-top: 0px; }
  .register .has-error .control-label {
    color: #5e5e5e; }
  .register .has-success .control-label {
    color: #5e5e5e; }
  .register .form-control[readonly] {
    background-color: #FFFFFF; }

@media screen and (min-width: 1472px) and (max-width: 2304px) {
  .register .contact-register .container {
    width: 35%; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .register .contact-register .container {
    width: 80%; }
  .register .content-detail p {
    width: 70%; } }

@media screen and (max-width: 767px) {
  .register .contact-register .container {
    width: 95%;
    padding-top: 20px;
    padding-bottom: 20px; }
  .register .content-detail p {
    width: 95%; }
  .has-feedback .form-control {
    padding-right: 10px; } }

/* -----------------------------------*/
footer {
  background: #515252;
  padding: 40px 0 0; }
  footer h4 {
    color: #fff;
    font-family: 'sukhumvit_setbold';
    font-size: 18px;
    font-weight: normal; }
  footer p {
    color: #dcd9d8;
    font-size: 12px;
    font-family: 'sukhumvit_setmedium';
    line-height: 1.8; }
  footer ul {
    margin: 0;
    padding: 0; }
    footer ul li {
      list-style: none;
      padding: 0;
      margin: 0 0 5px 0;
      color: #dcd9d8;
      font-family: 'sukhumvit_setmedium';
      overflow: hidden; }
      footer ul li a {
        color: #dcd9d8;
        font-size: 12px; }
        footer ul li a:hover {
          color: #F54D00;
          text-decoration: none; }
      footer ul li .ico {
        float: left;
        display: block; }
        footer ul li .ico a {
          display: block; }
      footer ul li span {
        float: left;
        width: 80%;
        display: block;
        padding-left: 5px;
        font-size: 12px;
        line-height: 1.5; }
  footer .copyright {
    text-align: center;
    color: #fff;
    background: #6a6969;
    padding: 5px;
    font-size: 10px;
    font-family: 'sukhumvit_setmedium';
    margin-top: 40px; }

/* -----------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .webcommerce-page .content-area {
    width: 98% !important; }
  .bg-gray {
    padding: 30px 0; }
  .bg-white {
    padding: 30px 0; }
  .box-red {
    width: 40%; }
  .navbar-header {
    width: 22%; }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 13px; }
  .nav > li > a {
    padding: 0px 7px;
    padding-top: 25px;
    padding-bottom: 25px; }
  .navbar-brand {
    height: 60px;
    margin-top: 7px; }
  .navbar img {
    width: 100%; }
  .intro-box .intro-txt-sub {
    font-size: 16px; }
  .intro-box p {
    font-size: 12px; }
  .intro-top {
    background-size: cover; }
  #ourservice {
    background-position: center 142%;
    background-size: 100%; }
  #onlineshop dl dt img,
  #domainname dl dt img,
  #google dl dt img,
  #facebook dl dt img,
  #instagram dl dt img,
  #email dl dt img,
  #googleapp dl dt img {
    width: auto;
    max-width: 100%;
    max-height: 100%; }
  #onlineshop dl dd,
  #domainname dl dd,
  #google dl dd,
  #facebook dl dd,
  #instagram dl dd,
  #email dl dd,
  #googleapp dl dd {
    padding-top: 0px; }
    #onlineshop dl dd h3,
    #domainname dl dd h3,
    #google dl dd h3,
    #facebook dl dd h3,
    #instagram dl dd h3,
    #email dl dd h3,
    #googleapp dl dd h3 {
      font-family: 'sukhumvit_setbold';
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 15px; }
    #onlineshop dl dd p,
    #domainname dl dd p,
    #google dl dd p,
    #facebook dl dd p,
    #instagram dl dd p,
    #email dl dd p,
    #googleapp dl dd p {
      font-family: 'sukhumvit_setmedium';
      font-size: 14px;
      line-height: 1.5; }
  #contact-form .contact-wrap {
    width: 80%; }
  #ourservice .nav-scroll .breadcrumb {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 17px; }
    #ourservice .nav-scroll .breadcrumb > li a {
      padding: 0px 10px 10px 10px; }
  #ourservice .nav-scroll.is-sticky .breadcrumb {
    margin-top: 0px;
    margin-bottom: 0px; }
  .breadcrumb > li + li:before {
    padding: 0; }
  .owl-nav {
    display: none; }
  .owl-dots {
    bottom: 0; }
  .content-area {
    width: 90%; }
  footer h4 {
    font-size: 14px; }
  footer ul li a, footer ul li span {
    font-size: 11px; } }

@media screen and (max-width: 767px) {
  .customer {
    background-image: url(../images/logo-customer.png);
    background-repeat: no-repeat;
    background-size: 331px;
    width: 140px;
    display: inline-block;
    vertical-align: middle;
    margin: 15px 1px 15px 1px; }
    .customer.logo-redrank {
      background-position: 0px -6px;
      height: 27px;
      margin-top: 3px;
      -webkit-transform: scale(1.55);
      -ms-transform: scale(1.55);
      transform: scale(1.55); }
    .customer.logo-index {
      background-position: 0px -33px;
      height: 21px; }
    .customer.logo-khaolak {
      background-position: 0px -54px;
      height: 32px; }
    .customer.logo-paysocial {
      background-position: 0px -86px;
      height: 31px; }
    .customer.logo-wynn {
      background-position: 0px -118px;
      height: 30px;
      width: 88px; }
    .customer.logo-aig {
      background-position: -87px -117px;
      height: 31px;
      width: 57px; }
    .customer.logo-honor {
      background-position: 0px -147px;
      height: 69px;
      width: 69px; }
    .customer.logo-pp {
      background-position: -69px -148px;
      height: 69px;
      width: 69px; }
    .customer.logo-vvyems {
      background-position: 0px -216px;
      height: 69px;
      width: 69px; }
  .bg-white {
    padding: 10px 0; }
  .bg-gray {
    padding: 10px 0; }
  .navbar img {
    max-width: 130px; }
  .navbar-brand {
    height: 60px;
    margin-top: 0px;
    padding: 15px 0; }
  .navbar-inverse .navbar-nav .open .dropdown-menu {
    padding: 0; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li {
      border-bottom: 1px solid #eeeeee; }
      .navbar-inverse .navbar-nav .open .dropdown-menu > li a {
        padding: 10px 15px 10px 10px; }
        .navbar-inverse .navbar-nav .open .dropdown-menu > li a:hover {
          color: #F54D00;
          background: #f1f1f2; }
  .navbar-inverse .navbar-nav > li {
    border-bottom: 1px solid #eeeeee; }
    .navbar-inverse .navbar-nav > li > a {
      padding: 20px; }
  .navbar-inverse .navbar-toggle {
    border: none;
    margin: 11px 0px; }
    .navbar-inverse .navbar-toggle .icon-bar {
      background-color: #0b67b1;
      width: 25px;
      height: 3px; }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      background-color: #0b67b1; }
      .navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle:focus .icon-bar {
        background-color: #FFFFFF; }
  #slide-nav {
    border-top: 0; }
    #slide-nav .container {
      margin: 0;
      padding: 0 !important; }
    #slide-nav .navbar-header {
      margin: 0 auto;
      padding: 0 15px; }
    #slide-nav .navbar.slide-active {
      position: absolute;
      width: 80%;
      top: -1px;
      z-index: 1000; }
    #slide-nav #slidemenu {
      background: #f7f7f7;
      left: -80%;
      width: 80%;
      min-width: 0;
      position: absolute;
      padding-left: 0;
      z-index: 2;
      top: -8px;
      margin: 0; }
      #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0; }
        #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
          min-width: 0;
          width: 100%;
          white-space: normal; }
    #slide-nav.navbar-inverse #slidemenu {
      background: #FFFFFF; }
    #slide-nav.navbar-inverse #navbar-height-col {
      background: #FFFFFF;
      z-index: 1;
      border: 0; }
    #slide-nav #navbar-height-col {
      position: fixed;
      top: 0;
      height: 100%;
      width: 80%;
      left: -80%;
      background: #eee; }
  .page-title h2 {
    font-size: 24px;
    line-height: 1.5; }
  .page-title strong, .page-title p {
    width: 80%;
    margin: auto;
    line-height: 1.7; }
  .contact-top span {
    font-size: 10px; }
  .contact-top a {
    font-size: 14px; }
  .contact-top .contact-top-inner {
    padding: 10px 3px; }
  .intro-box {
    padding: 10px; }
    .intro-box h3 {
      font-size: 20px;
      margin-top: 10px; }
    .intro-box .corner i.corner-left {
      left: 0;
      top: 0; }
    .intro-box .corner i.corner-right {
      right: 0;
      bottom: 0; }
    .intro-box .intro-txt-sub {
      font-size: 12px; }
    .intro-box p {
      font-size: 10px; }
  .intro-top {
    padding: 20px 0; }
  .owl-dots {
    bottom: 0; }
  .owl-nav {
    display: none; }
  .title-top {
    font-size: 22px;
    line-height: 1.3; }
    .title-top span {
      line-height: 1.5;
      margin-top: 10px; }
  #ourservice {
    background-position: center top; }
    #ourservice h3 {
      max-width: 100%;
      font-size: 25px; }
      #ourservice h3 span {
        font-size: 17px; }
    #ourservice .nav-scroll .breadcrumb {
      width: 100%; }
      #ourservice .nav-scroll .breadcrumb > li {
        font-size: 12px; }
        #ourservice .nav-scroll .breadcrumb > li a {
          padding: 5px; }
    #ourservice .nav-scroll.is-sticky .container {
      padding-left: 5px;
      padding-right: 5px; }
    #ourservice .nav-scroll.is-sticky .breadcrumb > li:before {
      padding: 0 3px; }
    #ourservice .nav-scroll.is-sticky .breadcrumb > li a {
      font-size: 10px;
      padding: 5px; }
  #onlineshop dl dt img,
  #domainname dl dt img,
  #google dl dt img,
  #facebook dl dt img,
  #instagram dl dt img,
  #email dl dt img,
  #googleapp dl dt img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
    display: block; }
  #onlineshop dl dd,
  #domainname dl dd,
  #google dl dd,
  #facebook dl dd,
  #instagram dl dd,
  #email dl dd,
  #googleapp dl dd {
    padding: 0; }
    #onlineshop dl dd h3,
    #domainname dl dd h3,
    #google dl dd h3,
    #facebook dl dd h3,
    #instagram dl dd h3,
    #email dl dd h3,
    #googleapp dl dd h3 {
      font-size: 17px; }
    #onlineshop dl dd p,
    #domainname dl dd p,
    #google dl dd p,
    #facebook dl dd p,
    #instagram dl dd p,
    #email dl dd p,
    #googleapp dl dd p {
      font-size: 14px;
      line-height: 1.5; }
  #contact-form {
    padding: 10px 0; }
    #contact-form .title-form {
      padding-left: 70px;
      font-size: 16px; }
      #contact-form .title-form i {
        left: -6px;
        top: -13px;
        width: 60px;
        height: 60px;
        line-height: 4; }
    #contact-form .contact-wrap {
      width: 95%; }
  .call-info {
    font-size: 16px; }
    .call-info .text-red {
      display: block; }
  .content-area {
    width: 90%; }
    .content-area p {
      font-size: 14px;
      line-height: 1.5; }
    .content-area .bg-gray {
      margin-bottom: 20px;
      padding: 10px; }
    .content-area ul {
      padding-left: 20px; }
      .content-area ul li {
        font-size: 14px; }
      .content-area ul.list-bullet {
        padding-left: 0; }
        .content-area ul.list-bullet li i {
          width: 40px;
          height: 40px;
          background-size: 1131px; }
          .content-area ul.list-bullet li i.ico-map {
            background-position: -702px -69px; }
          .content-area ul.list-bullet li i.ico-mail {
            background-position: -766px -69px; }
          .content-area ul.list-bullet li i.ico-call {
            background-position: -828px -69px; }
          .content-area ul.list-bullet li i.ico-fax {
            background-position: -892px -69px; }
        .content-area ul.list-bullet li .content-box-detail h3 {
          font-size: 20px; }
        .content-area ul.list-bullet li .content-box-detail strong {
          font-size: 14px;
          line-height: 1.3; }
  .list-domain-name table {
    border-bottom: 1px solid #CCCCCC; }
    .list-domain-name table tr:nth-child(odd) {
      background: transparent; }
    .list-domain-name table td {
      display: block;
      border-bottom: none; }
      .list-domain-name table td:nth-child(odd) {
        background: #FFFFFF; }
  .list-price-tb50 {
    margin-bottom: 20px; }
    .list-price-tb50 th, .list-price-tb50 td {
      width: 50%;
      padding: 15px;
      line-height: 1.5; }
    .list-price-tb50 th {
      border-bottom: #eeeeee 1px solid;
      font-size: 12px; }
    .list-price-tb50 td {
      font-size: 14px; }
  .list-table-web {
    text-align: center; }
    .list-table-web span {
      font-size: 12px;
      font-style: italic; }
  .list-price-web-service td img {
    max-width: 570px;
    width: 100%; }
  .list-price-web {
    font-size: 14; }
  .domain-page .domaincall {
    margin: 15px auto; }
  .domain-page .list-detail-content h3 {
    width: 100%;
    font-size: 14px; }
    .domain-page .list-detail-content h3.text-red {
      font-size: 18px; }
  .box-red {
    width: 95%; }
  .googleapps-page .list-detail-content .container > h3 {
    font-size: 18px;
    line-height: 1.5; }
  .googleapps-page .list-detail-content ul li {
    padding: 10px 0; }
    .googleapps-page .list-detail-content ul li:nth-child(odd) {
      clear: left; }
    .googleapps-page .list-detail-content ul li p {
      padding: 0 10px;
      line-height: 1.5; }
    .googleapps-page .list-detail-content ul li h3 {
      font-size: 14px; }
  .text-topic-red {
    font-size: 16px; }
  .text-topic-gray {
    font-size: 16px; }
  .webcommerce-page {
    line-height: 1.5; }
    .webcommerce-page .list-detail-content .list-icon li {
      padding: 10px 0; }
      .webcommerce-page .list-detail-content .list-icon li:nth-child(odd) {
        clear: left; }
      .webcommerce-page .list-detail-content .list-icon li p {
        padding: 0 10px;
        line-height: 1.5; }
      .webcommerce-page .list-detail-content .list-icon li h3 {
        font-size: 14px; }
    .webcommerce-page .list-detail-reason {
      margin-top: 30px;
      margin-bottom: 5px;
      line-height: 1.7; }
    .webcommerce-page #text-focus {
      line-height: 1.5; }
    .webcommerce-page #detail-payment1 {
      display: none; }
    .webcommerce-page #detail-payment2 {
      display: block; }
  .title-topic-detail {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5; }
    .title-topic-detail p {
      font-size: 16px;
      margin-top: 6px; }
    .title-topic-detail span {
      color: #5e5e5e; }
      .title-topic-detail span h4 {
        font-size: 16px;
        line-height: 1.5; }
      .title-topic-detail span span {
        font-size: 16px; }
  #power-by {
    font-size: 18px;
    margin-bottom: 1px;
    margin-top: 15px; }
  .title-blue h4 {
    font-size: 16px; }
  .title-blue h3 {
    font-size: 17px;
    margin-top: 10px; }
  .list-banktransfer th, .list-price-email th, .list-price-web th, .list-price-web-service th, .list-price-fb th {
    font-size: 12px;
    padding: 10px; }
  .list-banktransfer td, .list-price-email td, .list-price-web td, .list-price-web-service td, .list-price-fb td {
    font-size: 14px; }
  .tab-table .tab-content {
    padding: 0; }
  .tab-table .nav-pills, .tab-table .nav-pills1 {
    display: table;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0; }
    .tab-table .nav-pills > li, .tab-table .nav-pills1 > li {
      font-size: 11px; }
      .tab-table .nav-pills > li.active a, .tab-table .nav-pills1 > li.active a {
        color: #fff;
        background-color: #0b67b1;
        text-decoration: none; }
      .tab-table .nav-pills > li > a, .tab-table .nav-pills1 > li > a {
        border-radius: 4px 4px 0 0;
        padding: 10px 0px 10px 0px;
        display: block;
        text-align: center;
        border-radius: 4px 4px 0 0;
        background-color: #FFFFFF;
        outline: 1px solid #eeeeee; }
        .tab-table .nav-pills > li > a.active, .tab-table .nav-pills1 > li > a.active {
          color: #fff;
          background-color: #0b67b1; }
        .tab-table .nav-pills > li > a:focus, .tab-table .nav-pills1 > li > a:focus {
          outline: none; }
    .tab-table .nav-pills li, .tab-table .nav-pills1 li {
      list-style: none;
      display: table-cell;
      margin-left: 0;
      padding: 0; }
    .tab-table .nav-pills.tab-adword > li > a, .tab-table .tab-adword.nav-pills1 > li > a {
      line-height: 1.7;
      font-size: 11px; }
  .tab-table .nav-pills1 > li > a {
    background-color: #f1f1f2;
    outline: 1px solid #FFFFFF; }
  .list-price-fb td strong {
    font-size: 13px; }
  .box-remark span {
    font-size: 16px;
    width: 90%;
    margin: auto; }
  .list-creditcard {
    margin-left: 0;
    padding-left: 10px; }
    .list-creditcard li {
      font-size: 14px; }
  #installment .content-area strong {
    font-size: 18px; }
  #installment .content-area p {
    font-size: 16px; } }

/* -----------------------------------*/
