.btn-danger{
	background-color: $color-orange;
	border-color: $color-red;
}
.btn-danger:hover {
    color: #fff;
    background-color: #d44402;
	border-color: #ce4100;
}

.bg-gray { background: $background-color; padding: 30px 0;}
.bg-white { background: $color-white; padding: 30px 0;}

.text-realred { color: $color-text-red;}
.text-red { color: $color-text-orange;}
.text-blue { color: $color-text-blue;}
.text-topic-red{ color: $color-text-orange; font-family: 'sukhumvit_setbold'; font-weight: 400; font-size: 19px; line-height: 1.5;}
.text-topic-gray{ color: $color-text-gray; font-family: 'sukhumvit_setbold'; font-weight: 400; font-size: 18px; line-height: 1.5; margin-top: 20px; margin-bottom: 20px;}

h4 {font-family: 'sukhumvit_setbold'; font-weight: 400;}
.btn-more { margin: 30px 0;
	a {font-family: 'sukhumvit_setmedium';}
}
.title-top { text-align: center; color: $color-text-blue; font-family: 'sukhumvit_setbold'; font-size: 30px; font-weight: 400; margin-bottom: 20px;
	span { font-size: 16px; display: block; color:$color-text-gray; line-height: 2.5;
		span {font-size: 14px;font-family: 'sukhumvit_setmedium'; line-height: 1;}
	}
}

.ico { background-image: url(../images/icon-taradnet.png); background-repeat: no-repeat; background-size: 560px; width: 29px; height: 29px;  display: inline-block; vertical-align: middle; margin-right: 5px;
	&.ico-teltop { background-position: -50px -93px;}
	&.ico-tel { background-position: -87px -93px;}
	&.ico-fb { background-position: -12px -92px;}
	&.ico-line { background-position: -160px -92px;}
	&.ico-address { background-position: -124px -92px;}
	&.icon-call {background-position: -992px -80px; width: 40px; height: 40px;  background-size: 1350px;}
	&.ico-map {background-position: -1405px -138px;}
	&.ico-mail {background-position: -1532px -151px;}
	&.ico-fax {background-position: -1784px -136px;}
	&.ico-chackgreen {background-position: -612px -74px;}
	&.ico-chackorange {background-position: -418px -58px; background-size: 600px; width: 42px; height: 42px;}
	&.ico-unchack {background-position: -655px -74px;}
	&.ico-chackgreen,&.ico-unchack {background-size: 800px; width: 50px; height: 50px;}
}
.img-bullet {background-image: url(../images/icon-taradnet02.png); background-repeat: no-repeat; background-size: 1500px; width: 148px; height: 148px; display: block; margin: auto;
	&.ico-logo { background-position: -12px 0;}
	&.ico-website { background-position: -194px 0;}
	&.ico-shoponline { background-position: -379px 0;}
	&.ico-gmail { background-position: -12px -364px;}
	&.ico-calendar { background-position: -194px -364px;}
	&.ico-hangout { background-position: -379px -364px;}
	&.ico-drive { background-position: -554px -364px;}
	&.ico-sheets { background-position: -12px -523px;}
	&.ico-docs { background-position: -194px -523px;}
	&.ico-slide { background-position: -379px -523px;}
	&.ico-forms { background-position: -554px -523px;}
	&.ico-step1 {background-position: -525px -14px;}
	&.ico-step2 {background-position: -710px -14px;}
	&.ico-step3 {background-position: -888px -14px;}
	&.ico-step4 {background-position: -525px -164px;}
	&.ico-step5 {background-position: -710px -164px;}
	&.ico-step6 {background-position: -888px -164px;}
	&.ico-step1,&.ico-step2,&.ico-step3,&.ico-step4,&.ico-step5,&.ico-step6 {background-size: 1393px;}
	&.ico-promote {background-position: -1161px -23px;}
	&.ico-target {background-position: -1330px -23px;}
	&.ico-brand {background-position: -1161px -183px;}
	&.ico-profit {background-position: -1330px -183px;}
	&.ico-imgads {background-position: -785px -375px;}
	&.ico-vdoads {background-position: -1032px -375px;}
	&.ico-carousel {background-position: -1287px -375px;}
	&.ico-imgads,&.ico-vdoads, &.ico-carousel { width: 190px; height: 323px;}
	&.ico-callback {background-position: -9px -217px;}
	&.ico-inputform {background-position: -213px -217px;}
	&.ico-callback, &.ico-inputform {background-size: 1681px;}
	&.ico-growth {background-position: -12px -723px;}
	&.ico-sell {background-position: -194px -723px;}
	&.ico-collaboration {background-position: -379px -723px;}
	&.ico-sme {background-position: -554px -723px;}
	&.ico-ecc {background-position: -692px -621px;}
	&.ico-university {background-position: -766px -621px;}
	&.ico-marketing {background-position: -840px -621px;}
	&.ico-payment {background-position: -914px -621px;}
	&.ico-trust {background-position: -988px -621px;}
	&.ico-point {background-position: -1062px -621px;}
	&.ico-ecc,&.ico-university,&.ico-marketing,&.ico-payment,&.ico-trust,&.ico-point {background-size:1300px; width: 75px; height: 100px;}
	&.ico-step1web {background-position: -20px -855px;}
	&.ico-step2web {background-position: -190px -855px;}
	&.ico-step3web {background-position: -361px -855px;}
	&.ico-step4web {background-position: -525px -855px;}
	&.ico-step1web,&.ico-step2web,&.ico-step3web,&.ico-step4web {background-size: 1393px;}
	&.ico-menu {background-position: -714px -769px;}
	&.ico-header {background-position: -783px -769px;}
	&.ico-pic {background-position: -850px -769px;}
	&.ico-promotion {background-position: -918px -769px;}
	&.ico-landing {background-position: -985px -769px;}
	&.ico-webs {background-position: -1054px -769px;}
	&.ico-hotitem {background-position: -714px -842px;}
	&.ico-jzone {background-position: -783px -842px;}
	&.ico-bighighlight {background-position: -850px -842px;}
	&.ico-mailmarket {background-position: -918px -842px;}
	&.ico-menu,&.ico-header,&.ico-pic,&.ico-promotion,&.ico-landing,&.ico-webs,&.ico-hotitem,&.ico-jzone,&.ico-bighighlight,&.ico-mailmarket {background-size:1350px; width: 64px; height: 66px;}
 }

 .logo {background-image: url(../images/logo-partner.png); background-repeat: no-repeat; background-size: 680px; width: 34px; height: 34px;  display: inline-block; vertical-align: middle; margin: 5px 2px 5px 2px; border-radius: 5px 5px 5px 5px;

	&.partner1 { background-position: -72px -2px;}
	&.partner2 { background-position: -37px -2px;}
	&.partner3 { background-position: 0px -2px;}
	&.partner4 { background-position: -360px -2px;}
	&.partner5 { background-position: -396px -2px;}
	&.partner6 { background-position: -109px -2px;}
	&.partner7 { background-position: -145px -2px;}
	&.partner8 { background-position: -180px -2px;}
	&.partner9 { background-position: -216px -2px;}
	&.partner10 { background-position: -288px -2px;}
	&.partner11 { background-position: -252px -2px;}
	&.partner12 { background-position: -323px -2px;}
	&.partner13 { background-position: -430px -2px;}
	&.partner14 { background-position: -467px -2px;}
	&.partner15 { background-position: -505px -2px;}
	&.partner16 { background-position: -538px -2px;}
	&.partner17 { background-position: -574px -2px;}
	&.partner18 { background-position: -609px -2px;}
	&.partner19 { background-position: -646px -2px;}
 }

 .customer{background-image: url(../images/logo-customer.png); background-repeat: no-repeat; background-size: 700px; width: 285px;  display: inline-block; vertical-align: middle; margin: 18px;
 	&.logo-redrank { background-position: 0px -14px; height: 56px; margin-top: 0px; margin-bottom: 0px}
 	&.logo-index { background-position: 0px -69px; height: 44px;}
 	&.logo-khaolak { background-position: 0px -115px; height: 67px;}
 	&.logo-paysocial { background-position: 0px -183px; height: 65px;}
 	&.logo-wynn { background-position: 0px -249px; height: 64px; width: 185px;}
 	&.logo-aig { background-position: -185px -249px; height: 64px; width: 120px;}
 	&.logo-honor { background-position: 0px -313px; height: 144px; width: 145px;}
 	&.logo-pp { background-position: -146px -313px; height: 144px; width: 145px;}
 	&.logo-vvyems { background-position: 0px -457px; height: 144px; width: 145px;}
 }

.img-bullet1 {background-image: url(../images/icon-taradnet03.png); background-repeat: no-repeat; background-size: 1500px; width: 148px; height: 148px; display: block; margin: auto;
	&.ico-profit { background-position: -21px -18px;}
	&.ico-newcustomers { background-position: -172px -18px;}
	&.ico-lowprice { background-position: -320px -18px;}
	&.ico-email { background-position: -469px -18px;}
	&.ico-emailfollow { background-position: -619px -18px;}
	&.ico-promote { background-position: -469px -219px;}
	&.ico-targetig { background-position: -770px -219px;}
	&.ico-like { background-position: -172px -219px;}
	&.ico-follow { background-position: -21px -419px;}
	&.ico-money { background-position: -619px -219px;}
	&.ico-realtime {background-position: -320px -219px;}
	&.ico-fanpage {background-position: -29px -377px;}
	&.ico-post {background-position: -287px -377px;}
	&.ico-vdo {background-position: -417px -377px;}
	&.ico-event {background-position: -547px -377px;}
	&.ico-retarget {background-position: -157px -377px;}
	&.ico-fanpage,&.ico-post,&.ico-vdo,&.ico-event,&.ico-retarget {background-size: 1300px; width: 108px; height: 111px;}
	&.ico-ads { background-position: -469px -619px;}
	&.ico-results { background-position: -619px -619px;}
	&.ico-connect { background-position: -320px -619px;}
	&.ico-choosetarget { background-position: -172px -619px;}
	&.ico-increase { background-position: -21px -619px;}
	&.ico-analyze { background-position: -21px -799px;}
	&.ico-adsrealtime { background-position: -619px -799px;}
	&.ico-landingpage { background-position: -172px -799px;}
	&.ico-keywords { background-position: -320px -799px;}
	&.ico-weeklyreport { background-position: -469px -799px;}
 }

 .page-title { text-align: center; padding: 15px 0; font-family: 'sukhumvit_setbold'; color: $color-text-gray;
 	h2 {color: $color-text-blue;  font-size: 30px; font-weight: 370;}
 	p {font-size: 16px; line-height: 2; }
 	strong { display: block;font-weight: 600; color: $color-text-black;}
 }
 .title-blue { background: $color-blue-tarad; text-align: center; padding: 10px 0;
 	h4 { font-family: 'sukhumvit_setmedium'; color: $color-white; line-height: 1.5;}
 	h3 { font-family: 'sukhumvit_setmedium'; font-size: 26px; color: $color-text-white; line-height: 1.5;
 		i { color: $color-yellow; font-style: normal; padding-right: 10px;font-family: 'sukhumvit_setbold'; font-weight: 400; font-size: 28px;}
 	}
 }
 .title-topic-detail { text-align: center; color: $color-text-blue; font-family: 'sukhumvit_setbold'; font-size: 26px; font-weight: 400; margin-bottom: 20px; line-height: 1.5;
 	p { color: $color-text-gray; font-size: 20px; margin-top: 10px;
 		span { color: $color-text-blue; }
 	}
 	span { color: $color-text-gray;
 		span { font-size: 20px; }
 	}
 }

 #installment {
 	.content-area {
 		p { font-size: 20px;}
 		strong { font-size: 25px;font-family: 'sukhumvit_setbold'; font-weight: 400; }
 	}
 }
 .box-red { background: $color-orange; width: 30%; margin: 0 auto 20px auto; text-align: center; color: $color-text-white !important; padding: 10px 0;
 	strong { display: block;font-weight: 600; }

 }
 .has-error { 
 	.help-block {color: $color-yellow;font-family: 'sukhumvit_setmedium';}
 }