.maincontent {
	color: $color-text-gray; 
	h4, #installment strong, { color: $color-text-black;}
	#onlineshop h3{color: $color-text-black;}
	#domainname h3{color: $color-text-black;}
	#google h3{color: $color-text-black;}
	#facebook h3{color: $color-text-black;}
	#instagram h3{color: $color-text-black;}
	#email h3{color: $color-text-black;}
	#googleapp h3{color: $color-text-black;}
}
.intro-top { background: #095fa2 url(../images/bg-blue01.png) no-repeat center top; background-size: 100% auto; padding: 50px 0;
	h3 { img { width: 100%; display: block; margin: auto; }
	}
}
.main-slider {
	.cover-img {
		img { width: 100%;}
	}
}
.intro-box { max-width: 700px; padding: 20px; margin: auto; position: relative; width: 100%;
	h3 { color: $color-yellow; font-size: 35px; font-family: 'sukhumvit_setbold'; text-align: center; font-weight: 400;
		i { display: inline-block; background: url(../images/icon-taradnet.png) no-repeat 0 0; background-size: 754px; width: 7px; height: 7px;background-position: -334px -139px; vertical-align: middle;}
	}
	.corner { i { background: url(../images/icon-taradnet.png) no-repeat 0 0; background-size: 1500px; width: 40px; height: 40px; display: block; position: absolute;
			&.corner-left { background-position: -648px -313px; top: -10px; left: -20px; }
			&.corner-right { background-position: -755px -340px; bottom: -10px; right: -20px; left: auto; }
		}
	}
	.intro-txt-sub { font-family: 'sukhumvit_setbold'; color: $color-text-white; font-size: 20px; text-align: center; line-height: 1.8; }
	p { font-family: 'sukhumvit_setmedium'; color: $color-text-gray-light-2; text-align: center; font-size: 15px; line-height: 1.8; }
}
#ourservice { background: url(../images/bg-intro-top.jpg) no-repeat center center; background-size: 100%;
	h3 { background-color: rgba(0, 0, 0, 0.6); text-align: center; color: $color-text-white; font-family: 'sukhumvit_setbold'; max-width: 340px; margin: 40px auto; padding: 20px; font-size: 40px; line-height: 1.3;
		span { font-size: 23px; display: block; }
	}
	.nav-scroll { background: $color-white;
		&.is-sticky { border-bottom: 1px solid $color-text-orange;
			.breadcrumb { width: 100%;
				> li { &:before { padding: 0 5px; }
					a { padding: 9px; font-size: 14px; }
				}
			}
		}
		.breadcrumb { text-align: center; background: $color-white; margin: 0; padding: 0; @include border-radius(0); width: %; margin: auto;
			>li { font-family: 'sukhumvit_setmedium'; font-size: 16px;
				a { color: $color-text-orange; padding: 10px 20px; display: inline-block;
					&.active { background: $color-orange; color: $color-text-white; }
				}
				&+li { &:before { content: "|"; color: $color-text-orange; padding: 0; }
				}
			}
		}
	}
}
#onlineshop,
#domainname,
#google,
#facebook,
#instagram,
#email,
#googleapp { dl { dt { img { width: auto; max-width: 400px; max-height: 400px; height: auto; margin: auto; display: block; }
		}
		dd { padding-top: 40px;
			h3 { font-family: 'sukhumvit_setbold'; font-size: 20px; line-height: 1.5; margin-bottom: 15px; font-weight: 400; }
			p { font-family: 'sukhumvit_setmedium'; font-size: 14px; line-height: 2; }
		}
	}
}
.owl-controls { .owl-prev,
	.owl-next { background: url(../images/icon-taradnet.png) no-repeat 0 0; background-size: 1131px; width: 45px; height: 55px; display: block; position: absolute; top: 50%; margin-top: -35px; text-indent: -99999px; }
	.owl-prev { left: 30px; background-position: -574px -123px;
		&:hover { background-position: -574px -172px; }
	}
	.owl-next { right: 30px; background-position: -621px -123px;
		&:hover { background-position: -621px -172px; }
	}
}
.owl-dots { text-align: center; position: absolute; bottom: 10px; width: 100%;
	.owl-dot { background: $background-color-2; width: 10px; height: 10px; display: inline-block; margin: 0 5px;
		&.active { background: $color-text-blue; }
	}
}
.sticky.is-sticky { position: fixed; left: 0; right: 0; top: 0; z-index: 1000; width: 100%; }

/*/ Back to top button /*/
#backtop { position: fixed; bottom: 50px; right: 20px; z-index: 999999; opacity: 0.9; width: 50px; }
#backtop a { width: 108px; display: block; text-align: center; font: 11px/100% Arial, Helvetica, sans-serif; text-transform: uppercase; text-decoration: none; color: #bbb; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s; }
#backtop a:hover { color: #000; }
#backtop a:hover span { background-color: #777; }
#backtop span { width: 50px; height: 50px; display: block; margin-bottom: 7px; background: #cccccc url(http://www.tarad.com/images/event_discount/ui/images/up-arrow.png) no-repeat center center; background-size: 23px auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s; }
.ico-top { background: url(../images/icon-taradnet.png) no-repeat 0 0; background-size: 560px; width: 29px; height: 29px; display: inline-block; vertical-align: middle; margin-right: 10px;
&.ico-shopping { background-position: -234px -56px; }
&.ico-domain { background-position: -197px -56px; }
&.ico-googleapp { background-position: -87px -56px; }
&.ico-google { background-position: -50px -56px; }
&.ico-facebook { background-position: -12px -56px; }
&.ico-instagram { background-position: -123px -56px; }
&.ico-email { background-position: -160px -56px; }
}
.dropdown-menu { >li { >a { padding: 10px 20px;
&:hover,
&:focus { background-color: $color-blue-tarad; color: $color-text-white;
.ico-shopping { background-position: -235px -19px; }
.ico-domain { background-position: -197px -19px; }
.ico-googleapp { background-position: -88px -19px; }
.ico-google { background-position: -50px -19px; }
.ico-facebook { background-position: -12px -19px; }
.ico-instagram { background-position: -123px -19px; }
.ico-email { background-position: -160px -19px; }
}
}
}
}
#contact-form { background: $color-blue-tarad; padding: 40px 0;
.title-form { color: $color-text-white; font-family: 'sukhumvit_setbold'; font-size: 25px; margin-bottom: 40px; font-weight: 400; padding-left: 150px; position: relative;
span { font-size: 14px; font-family: 'sukhumvit_setmedium'; display: block; line-height: 2; color: $color-yellow; }
i { position: absolute; left: 40px; top: -20px; width: 85px; height: 85px; background: $color-yellow; border-radius: 100%; text-align: center; @include border-radius(100%); line-height: 3.5; color: $color-text-red; font-style: normal;}
}
.contact-wrap { width: 50%; margin: auto;
.form-control { font-family: 'sukhumvit_setmedium'; }
label { color: $color-text-white; font-family: 'sukhumvit_setmedium'; font-weight: 400; padding-left: 0; 
	i { color: $color-yellow; font-style: normal;}
}
.btn-form { margin: 20px auto 0 auto; text-align: center;
.btn { width: 150px; border: 1px solid $color-white; font-family: 'sukhumvit_setmedium'; }
}
}
}
.call-info  { background: $color-yellow; text-align: center; color: $color-text-blue; font-family: 'sukhumvit_setbold';font-weight: 400; font-size: 24px; padding: 15px 0;
	.text-red { font-family: 'sukhumvit_setbold';font-weight: 400;}
	a {
		&:hover { text-decoration: none;}
	}
}
.list-detail-content { display: block; overflow: hidden;
	ul { overflow: hidden; padding: 0;
		 li { list-style: none; text-align: center;
			.img-bullet {}
			h3 { color: $color-text-orange;  font-family: 'sukhumvit_setbold'; font-weight: 400; font-size: 19px; line-height: 1.5; }
			p {color: $color-text-gray; line-height: 1.8; font-size: 13px;font-family: 'sukhumvit_setmedium';}
		}
	}
	.btn-more { padding: 40px 0; text-align: center;}
}
.content-area { width: 800px; margin: auto;
	p {color: $color-text-gray; line-height: 2; font-size: 14px;font-family: 'sukhumvit_setmedium';}
	.bg-gray { margin-bottom: 20px; padding: 20px;}
	ul { 
		li {color: $color-text-gray; line-height: 2; font-size: 14px;font-family: 'sukhumvit_setmedium';}
	}
	img { width: 100%; max-width: 800px;}
}
.list-bullet {
	li { list-style: none; display: table; overflow:  hidden; margin-bottom: 45px;
		i { float: left; width: 80px; height: 80px; display: table-cell; background-size: 2262px; vertical-align: top; 
			&.ico-call {background-position: -1654px -136px;}
		}
		.content-box-detail { display: table-cell; vertical-align: top; padding-left: 15px;
			h3 { margin: 0; line-height: 1.5; color: $color-text-orange;  font-family: 'sukhumvit_setbold';font-weight: 400; font-size: 25px; }
			p { line-height: 1.5}
			strong { color: $color-text-black; font-size: 18px; font-family: 'sukhumvit_setbold';
				a { color: $color-text-black;}
			}

		}
	}
}
.list-banktransfer, .list-price-fb, .list-price-email, .list-price-tb50 { width: 100%; border-collapse: collapse;
	tr {
		&:nth-child(even) { background: $color-white;}
	}
	th { text-align: center; font-family: 'sukhumvit_setbold';font-weight: 400; font-size: 18px; background: $background-color-4; padding: 20px; color: $color-text-black; width: 30%;
	}
	td { text-align: center; border: 1px solid $color-border-4; padding: 10px; font-size: 16px;font-family: 'sukhumvit_setmedium';
		img { width: 90%; max-width: 200px; margin: auto; display: block;}
		&:first-child { background-color: rgba(20, 20, 20, 0.1); background: rgba(20, 20, 20, 0.1);
 }
		
	}
}

.table-color-yellow{
	background-color: rgba(253, 183, 33, 0.2);
}
.table-color-gray{
	background-color: $background-color;
}
.list-price-web{ 
	@extend .list-price-email;
	tr:nth-child(even) {background: $background-color;}
	td { img {max-width: 820px; width: 100%} }
}
.list-table-web{
	text-align: left;
	span{ font-size: 12px; font-style: italic;}
}
.list-price-web-service{
	@extend .list-price-email;
	tr:nth-child(3n+2) {background: $color-white;}
	tr:nth-child(1n+8) {background: $color-white;}
	td { img {max-width: 820px; width: 100%} }
}
.zeroPadding {
    padding: 0 !important;
}


.list-price-fb { margin-bottom: 20px;
	th { width: 25%; font-size: 16px;}
	td { font-size: 14px; padding: 15px 0;
		strong { display: block; font-size: 16px;}
	}
}
.list-price-email {margin-bottom: 20px; 
	th { width: 20%; font-size: 16px}
	td { padding: 15px 0 ; font-size: 14px;
	}
}

.box-remark {font-size: 16px;font-family: 'sukhumvit_setmedium'; line-height: 2;
	span { display: block;font-family: 'sukhumvit_setbold';font-weight: 400; font-size: 19px;}
}
.list-creditcard {
	li {font-size: 16px;font-family: 'sukhumvit_setmedium'; line-height: 2;}
}
.googleapps-page { color: $color-text-gray;
	.list-detail-content {
		.container {
			> h3 {font-family: 'sukhumvit_setbold';font-weight: 400; font-size: 24px; text-align: center; color: $color-blue-tarad; padding: 20px 0;}
		}
		ul { padding: 0;
			li {    padding: 10px 30px;}
		}
	} 

}


.webcommerce-page{
	font-family: 'sukhumvit_setmedium'; color: $color-text-gray; line-height: 2; font-size: 14px;
   		.list-detail-reason { font-family: 'sukhumvit_setbold'; margin-top: 15px; margin-bottom: 15px;}
   		#text-focus{ text-align: center; font-size: 16px;  color: $color-text-orange;}
   		#detail-payment2 {display: none;}
   		.list-price-email {
		td { padding: 13px;}
	}
}
#power-by{ font-size: 24px; margin-bottom: 3px; margin-top: 1px;}

.domain-page {
	.list-detail-content {
		h3 { font-size: 16px; color: $color-text-gray; width: 70%; margin: auto; line-height: 1.8;
			&.text-red {font-family: 'sukhumvit_setbold';font-weight: 400; font-size: 24px; text-align: center; color: $color-text-orange;  }
		}
		.ico-or { width: 80px; height: 80px; background: $color-text-gray-light-2; text-align: center; color: $color-text-blue; text-align: center; display: block; @include border-radius(100%);font-family: 'sukhumvit_setbold';font-weight: 400; font-size: 20px; line-height: 3.8; margin: 40px auto;}
	}
	.domaincall { margin: 40px auto; padding: 0; }
}
.list-domain-name {
	h3 { color: $color-text-blue;font-family: 'sukhumvit_setbold';font-weight: 400; font-size: 24px; text-align: center; padding-bottom: 30px; }
	.searchdomain { width: 120%;}
	.form-control, .btn  {font-family: 'sukhumvit_setmedium'; font-size: 13px; }
	.btn { padding: 13px 10px;}
	table { width:  100%; border-collapse: collapse;
		tr {
			&:nth-child(odd) { background: $color-white;}
		}
		td { border: 1px solid $color-border-4; vertical-align: middle;
			ul { margin-bottom: 0; padding: 10px 0;
				li {
					&:first-child{ color: $color-text-blue; text-align: left;}
					.unavailable { color: $color-text-orange;}
					.available { color: $color-text-green;}
				}
			}
		}
	}
	.form-inline  {margin-bottom: 25px;}
	.title-black { font-size: 16px; color: $color-text-black;font-family: 'sukhumvit_setbold';font-weight: 400;}
}