footer{ background:$background-color-2; padding:  40px 0 0;

	h4 { color:  $color-text-white; font-family: 'sukhumvit_setbold'; font-size: 18px; font-weight: normal; }
	p { color: $color-text-gray-light; font-size: 12px; font-family: 'sukhumvit_setmedium'; line-height: 1.8;}
	ul { margin: 0; padding: 0;
		li { list-style:  none; padding: 0; margin: 0 0 5px 0; color: $color-text-gray-light;font-family: 'sukhumvit_setmedium'; overflow: hidden;
			a { color: $color-text-gray-light; font-size: 12px;
				&:hover {color: $color-text-orange; text-decoration: none;}	
			}
			.ico { float: left; display: block;
				a { display: block;}
			}
			span {float: left; width: 80%; display: block; padding-left: 5px; font-size: 12px; line-height: 1.5;}
		}
	}


	.copyright { text-align: center; color: $color-text-white; background: $background-color-3; padding:  5px; font-size: 10px;font-family: 'sukhumvit_setmedium'; margin-top: 40px; }
}