header { background: $color-blue-tarad;}
.navbar { border-bottom: 1px solid $color-blue-tarad; border-top: none; border-left: none; border-right: none; background: $color-white; @include border-radius(0); min-height: auto; margin-bottom: 0;
	img { max-width: 200px; width: 100%;}
}
.navbar-inverse  {
	.navbar-nav {float:  right;
		>li {
			> a {font-family: 'sukhumvit_setbold'; font-weight:  400; color: $color-blue-tarad; font-size: 15px; border-bottom: 3px solid $color-white; border-top: 3px solid $color-white;
					&:focus, &:hover { color: $color-text-orange; background: none;}
			}
		}
		> .active {
			> a{ color: $color-text-orange; background: none; 
				&:focus, &:hover { color: $color-text-orange; background: none;border-top: 3px solid $color-white; text-decoration: none;}
			}
		}
		> .open {
			> a {color: $color-text-orange; border-bottom: 3px solid $color-blue-tarad; background: none;
				&:focus, &:hover { color: $color-text-orange; border-bottom: 3px solid $color-blue-tarad; background: none;border-top: 3px solid $color-white; }
			}
		}
	}
}



.contact-top {
	.contact-top-inner { color: $color-white; text-align: right; padding: 10px 0;}
	span {font-family: 'sukhumvit_setmedium'; font-weight:  400; font-size: 15px; }
	a { display: inline-block; vertical-align: middle; font-size: 20px; color: $color-yellow; font-family: 'sukhumvit_setbold'; font-weight:  400;
		&:hover {text-decoration: none;}
	}
}
.navbar-brand { height: 80px; margin-top: 6px}

.nav >li >a {  padding-top: 30px;  padding-bottom: 30px;}
.navbar-toggle {  padding: 10px;  margin: 25px 0px 25px 0;}
