@mixin clearfix {
	&:before,
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}

.clearfix {
	&:before,
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}

@mixin border-radius($r){
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    -ms-border-radius: $r;
    -o-border-radius: $r;
    border-radius: $r;
}

@mixin breakpoint($point) {
    @if $point == xs {
        @content ;
    }
    @else if $point == sm {
        @media (min-width: 34em) { @content ; }
    }
    @else if $point == md {
        @media (min-width: 48em) { @content ; }
    }
    @else if $point == lg {
        @media (min-width: 62em) { @content ; }
    }
    @else if $point == xl {
        @media (min-width: 75em)  { @content ; }
    }
}

@mixin transition {
-webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

@mixin lineclamp($r)  {
    display: block;    
    display: -webkit-box; 
    -webkit-line-clamp: $r; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.gutter-5 > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
}