@import "_variable.scss";

.icon-pro { background-image: url(../images/icon-taradnet-promotion.png); background-repeat: no-repeat; background-size: 560px; width: 29px; height: 29px;  display: inline-block; vertical-align: middle; margin-right: 5px;
	&.icon-pro1 { background-position: -50px -93px;}

}

.img-no{
	width: 3%;
	max-width: 800px;
}

.style-text{
	font-weight: 800;
	font-size: 40px;
}