.register {
	font-family: 'sukhumvit_setmedium';
	.page-title{
	    padding: 30px 0 10px;
	}
	.content-detail{
		padding-bottom: 40px;
		text-align: center;
		line-height: 2;
    	p { 
    		word-wrap: break-word;
    		width: 54%;
    		margin: auto;
    	}
    	#ps{ padding-top: 20px;}
    	strong { 
    		font-family: 'sukhumvit_setbold';
    		font-size: 16px;
    	}
	}

	.contact-register { 
		.container{
			width: 60%;
			margin: auto;
			.contact-wrap { 
				.form-control { font-family: 'sukhumvit_setmedium'; }
				label { font-weight: 400; padding-left: 0; 
					i { color: $color-orange; font-style: normal;}
				}
				.btn-form { margin: 20px auto 0 auto; text-align: center;
				.btn { width: 150px; border: 1px solid $color-white; font-family: 'sukhumvit_setmedium'; }
				}
				.has-error .help-block {
				    color: $color-orange;
				    font-family: 'sukhumvit_setmedium';
				}
				#checkbox-register{
					padding-left: 35px;
					padding-bottom: 14px;
				}
				.col-sm-3 {
					padding-right: 8px;
				}
				.form-horizontal .checkbox{
					padding-top: 0px;
				}
			}
		}
	}
	.has-error .control-label{
		color: $color-text-gray;
	}
	.has-success .control-label{
		color: $color-text-gray;
	}
	.form-control[readonly]{
		background-color: $color-white;
	}
}
@media screen and (min-width: 1472px) and (max-width: 2304px) { 
	.register {
		.contact-register {
			.container{
				width: 35%;
			}
		}
	} 
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
	.register {
		.contact-register {
			.container{
				width: 80%;
			}
		}
		.content-detail{
	    	p { 
	    		width: 70%;
	    	}
		}
	} 
}


@media screen and (max-width: 767px) { 

	.register {
		.contact-register {
			.container{
				width: 95%;
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
		.content-detail{
	    	p { 
	    		width: 95%;
	    	}
		 }
	}
	.has-feedback .form-control {
	    padding-right: 10px;
	}
}