@media screen and (min-width: 768px) and (max-width: 991px) {   
.webcommerce-page {
	.content-area {
	    width: 98% !important;
	}
}
.bg-gray {  padding: 30px 0;}
.bg-white { padding: 30px 0;}
 .box-red { width: 40%;}
.navbar-header { width: 22%;}
.navbar-inverse {
	.navbar-nav {
		> li { 
			> a	 { font-size: 13px;}
		}
	} 
} 
.nav > li > a {
    padding: 0px 7px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar-brand {
    height: 60px;
    margin-top: 7px;
}
.navbar {
	img { width: 100%;}
} 

.intro-box {
	h3 {

	}
	.intro-txt-sub { font-size:  16px;}
	p { font-size:  12px;}
}
.intro-top { background-size: cover;}
#ourservice {
    background-position: center 142%;
    background-size: 100%;
}
#onlineshop,
#domainname,
#google,
#facebook,
#instagram,
#email,
#googleapp { 
	dl { 
		dt { 
			img { width: auto; max-width: 100%; max-height: 100%;  }
		}
		dd { padding-top: 0px;
			h3 { font-family: 'sukhumvit_setbold'; font-size: 20px; line-height: 1.5; margin-bottom: 15px; }
			p { font-family: 'sukhumvit_setmedium'; font-size: 14px; line-height: 1.5; }
		}
	}
}
#contact-form {
	.contact-wrap { width: 80%;}
} 
#ourservice {
	.nav-scroll {
		.breadcrumb { width: 100%; margin-top: 25px; margin-bottom: 17px;
			> li {
				a {padding: 0px 10px 10px 10px;}
			} 
		} 
		&.is-sticky {
			.breadcrumb { margin-top: 0px; margin-bottom: 0px;}
		}
	} 
} 
		.breadcrumb { 
			>li { 
				a {
					&.active {  }
				}
				&+li { &:before { padding: 0; }
				}
			}
		}
		.owl-nav { display: none;}
		.owl-dots {bottom: 0;}
		.content-area {width: 90%;}
footer {
	h4 { font-size: 14px;}
	ul {
		li {
			a,span { font-size: 11px;}
			
		}
	}
} 
}
@media screen and (max-width: 767px) { 

	.customer{background-image: url(../images/logo-customer.png); background-repeat: no-repeat; background-size: 331px; width: 140px;  display: inline-block; vertical-align: middle; margin: 15px 1px 15px 1px;
	 	&.logo-redrank { background-position: 0px -6px; height: 27px; margin-top: 3px; transform: scale(1.55);}
	 	&.logo-index { background-position: 0px -33px; height: 21px;}
	 	&.logo-khaolak { background-position: 0px -54px; height: 32px;}
	 	&.logo-paysocial { background-position: 0px -86px; height: 31px;}
	 	&.logo-wynn { background-position: 0px -118px; height: 30px; width: 88px;}
	 	&.logo-aig { background-position: -87px -117px; height: 31px; width: 57px;}
	 	&.logo-honor { background-position: 0px -147px; height: 69px; width: 69px;}
	 	&.logo-pp { background-position: -69px -148px; height: 69px; width: 69px;}
	 	&.logo-vvyems { background-position: 0px -216px; height: 69px; width: 69px;}
 	}

	.bg-white { padding: 10px 0;}
	.bg-gray { padding: 10px 0;}
	.navbar {
		img {max-width: 130px;}
	} 
	.navbar-brand {height: 60px; margin-top: 0px; padding: 15px 0;}
	.navbar-inverse {
		.navbar-nav {
			.open {
				.dropdown-menu { padding: 0;
					> li { border-bottom: 1px solid $color-border-1;
						a { padding: 10px 15px 10px 10px;
							&:hover { color: $color-text-orange; background: $background-color;}
						}
					}
				}
			}
			> li { border-bottom: 1px solid $color-border-1;
				> a { padding: 20px;}
			}
		}
		.navbar-toggle { border: none; margin: 11px 0px;
			.icon-bar { background-color: $color-blue-tarad; width: 25px; height: 3px;}
			&:hover, &:focus { background-color: $color-blue-tarad; 
				.icon-bar { background-color: $color-white;}
			}
		}
	}
	#slide-nav {border-top: 0;
		.container { margin: 0;	padding: 0!important;}
		.navbar-header {margin: 0 auto;	padding: 0 15px;}
		.navbar {
			&.slide-active {position: absolute;	width: 80%;	top: -1px;	z-index: 1000;}
		}
		#slidemenu { background: #f7f7f7;left: -80%;width: 80%;	min-width: 0; position: absolute;padding-left: 0;z-index: 2;top: -8px;	margin: 0;
			.navbar-nav {min-width: 0;	width: 100%;margin: 0;	
				.dropdown-menu {
					li {
						a { min-width: 0;width: 100%;white-space: normal;}
					}
				}
			}
		}
		&.navbar-inverse {
			#slidemenu {background: $color-white;}
			#navbar-height-col {background: $color-white; z-index: 1;	border: 0;}
		}
		#navbar-height-col {position: fixed;top: 0;	height: 100%;	width: 80%;	left: -80%;	background: #eee;}
	}
	 
.page-title {
	h2 {font-size: 24px; line-height: 1.5;}
	strong, p { width: 80%; margin: auto; line-height: 1.7;}
} 
 
	.contact-top {
		span {font-size: 10px;}
		a { font-size: 14px;}
		.contact-top-inner { padding: 10px 3px;}
	} 
	.intro-box { padding: 10px;
		h3 { font-size: 20px; margin-top: 10px;}
		.corner {
			i {
				&.corner-left {left: 0; top: 0;}
				&.corner-right {right: 0; bottom: 0;}
			}
		} 
		.intro-txt-sub { font-size: 12px}
		p { font-size: 10px;}
	} 
	.intro-top { padding: 20px 0;}
	.owl-dots {bottom: 0;}
	.owl-nav { display: none;}
	.title-top { font-size: 22px; line-height: 1.3;
		span { line-height: 1.5; margin-top: 10px;}
	}
	#ourservice {  background-position: center top;
		h3 { max-width: 100%; font-size: 25px;
			span { font-size: 17px;}
		}
		.nav-scroll {
			.breadcrumb { width: 100%;
				> li { font-size: 12px;
					a { padding: 5px;}
				}
			}
			&.is-sticky  {
				.container {padding-left: 5px; padding-right: 5px;}
				.breadcrumb {
					> li {
						&:before { padding: 0 3px;}
						a {font-size: 10px; padding: 5px;}
					}
				}

			}
		} 
	} 
	#onlineshop,
	#domainname,
	#google,
	#facebook,
	#instagram,
	#email,
	#googleapp { dl { dt { img { width: auto; max-width: 100%; max-height: 100%; height: auto; margin: auto; display: block; }
	}
	dd { padding: 0;
			h3 {  font-size: 17px; }
			p {font-size: 14px; line-height: 1.5; }
		}
	}
	}
	#contact-form { padding: 10px 0;
		.title-form { padding-left: 70px; font-size: 16px;
			i {  left: -6px; top: -13px; width: 60px; height: 60px; line-height: 4;}
		}
		.contact-wrap { width: 95%;}
	}
.call-info { font-size: 16px;
	.text-red { display: block;}
}
.content-area { width: 90%;
	p { font-size: 14px; line-height: 1.5;}
	.bg-gray { margin-bottom: 20px; padding: 10px;}
	ul { padding-left: 20px;
		li { font-size: 14px;}
		&.list-bullet {padding-left: 0;
			li {
				i { width: 40px; height: 40px; background-size: 1131px;
					&.ico-map { background-position: -702px -69px;}
					&.ico-mail { background-position: -766px -69px;}
					&.ico-call { background-position: -828px -69px;}
					&.ico-fax { background-position: -892px -69px;}
				}
				.content-box-detail {

						h3 { font-size: 20px;}
						strong {font-size: 14px; line-height: 1.3;}

				}
			}
		}
	}
}
.list-domain-name {
	table { border-bottom: 1px solid $color-border-4;
		tr {
			&:nth-child(odd) { background: transparent;}
		} 
		td { display: block; border-bottom: none;
			&:nth-child(odd) { background: $color-white;}
		}

	}
}
.list-price-tb50 { margin-bottom: 20px;
	th,td { width: 50%; padding: 15px; line-height: 1.5;}
	th { border-bottom: $color-border-1 1px solid; font-size: 12px;}
	td {font-size: 14px;}

}

.list-table-web{
	text-align: center;
	span{ font-size: 12px; font-style: italic;}
}

.list-price-web-service{
	td { img {max-width: 570px; width: 100%} }
}

.list-price-web{ 
	font-size: 14;
}


.domain-page {
	.domaincall { margin: 15px auto;}
	.list-detail-content {
		 h3 { width: 100%; font-size: 14px;
		 	&.text-red { font-size: 18px;}
		 }
	}
} 
.box-red { width: 95%;}
.googleapps-page {
	.list-detail-content {
		.container {
			> h3 { font-size: 18px; line-height: 1.5;}
		}
		ul {
			li { padding: 10px 0;
				&:nth-child(odd) { clear: left;}
				p { padding: 0 10px; line-height: 1.5;}
				h3 { font-size: 14px;}
			}
		} 
	} 
}
.text-topic-red{ font-size: 16px; }
.text-topic-gray{ font-size: 16px; }

.webcommerce-page{ line-height: 1.5;
	.list-detail-content {
		.list-icon {
			li { padding: 10px 0;
				&:nth-child(odd) { clear: left;}
				p { padding: 0 10px; line-height: 1.5;}
				h3 { font-size: 14px;}
			}
		} 
	}
	.list-detail-reason { margin-top: 30px; margin-bottom: 5px; line-height: 1.7}
	#text-focus{ line-height: 1.5}
	#detail-payment1 {display: none;}
	#detail-payment2 {display: block;}
}

 .title-topic-detail { font-size: 18px; font-weight: 400; margin-bottom: 20px; line-height: 1.5;
 	p { font-size: 16px; margin-top: 6px;}
 	span {color: $color-text-gray;
 		h4 { font-size: 16px; line-height: 1.5;}
 		span { font-size: 16px;}
 	}
 }

#power-by{ font-size: 18px; margin-bottom: 1px; margin-top: 15px;}

	.title-blue {
		h4 { font-size: 16px;}
		h3 { font-size: 17px; margin-top: 10px;}
	}
	.list-banktransfer, .list-price-email,.list-price-fb  {
		th { font-size: 12px; padding: 10px;}
			td { font-size: 14px;}
	}
	.tab-table {
		.tab-content { padding : 0;}
		.nav-pills {display:table; width: 100%; padding-left:0; margin-bottom: 0; 
			> li { font-size: 11px;
				&.active {
					a {color: $color-text-white; background-color: $color-blue-tarad;text-decoration: none;}
				}
				> a {border-radius: 4px 4px 0 0 ; padding: 10px 0px 10px 0px; display: block; text-align: center; border-radius: 4px 4px 0 0; background-color: $color-white; outline: 1px solid $color-border-1;
					&.active {color: $color-text-white; background-color: $color-blue-tarad;}
					&:focus {outline: none;}
				}
			}
			li {list-style: none; display: table-cell; margin-left: 0; padding: 0;}
			&.tab-adword {
				> li {
					> a {line-height: 1.7; font-size: 11px;}
				}
			}
		}
		.nav-pills1 {
			@extend .nav-pills;
			> li { 
				> a {background-color: $background-color; outline: 1px solid $color-white;
				}
			}
		}
	} 
	.list-price-fb {
		td {
			strong { font-size: 13px;}
		}
	} 
	.box-remark {
		span { font-size: 16px; width: 90%; margin: auto;}
	} 
	.list-creditcard { margin-left: 0; padding-left: 10px;
		li { font-size: 14px;}
	} 

	#installment {
		.content-area {
			strong { font-size: 18px}
			p { font-size: 16px;}
		} 
	} 
}