$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #5d5d5d;
$color-blue-tarad: #0b67b1;
$color-red: #cc282b;
$color-orange: #F54D00;
$color-yellow: #fdb721;


$gutter-width: 16px;

$width-main: 980px;

$background-color: #f1f1f2;
$background-color-2: #515252;
$background-color-3: #6a6969;
$background-color-4: #c1c1c1;


$color-border-1: #eeeeee;
$color-border-2: #2196f3;
$color-border-3: #979797;
$color-border-4: #CCCCCC;



$color-text-black: #3e3e3e;
$color-text-white: #fff;
$color-text-blue: #095a9d;
$color-text-orange: #F54D00;
$color-text-red: #cc282b;
$color-text-gray: #5e5e5e;
$color-text-gray-light: #dcd9d8;
$color-text-gray-light-2: #e8e7e7;
$color-text-green: #70a442;



@font-face { 
	font-family: 'sukhumvit_setthin'; 
	src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot"); 
	src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/sukhumvitset-thin-webfont-webfont.woff") format("woff"), 
	url("../fonts/sukhumvitset-thin-webfont-webfont.ttf") format("truetype"), 
	url("../fonts/sukhumvitset-thin-webfont-webfont.svg#sukhumvit_setthin") format("svg"); font-weight: normal; font-style: normal; 
}
@font-face { 
	font-family: 'sukhumvit_setmedium'; 
	src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot"); 
	src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/sukhumvitset-medium-webfont-webfont.woff") format("woff"), 
	url("../fonts/sukhumvitset-medium-webfont-webfont.ttf") format("truetype"), 
	url("../fonts/sukhumvitset-medium-webfont-webfont.svg#sukhumvit_setmedium") format("svg"); font-weight: normal; font-style: normal; 
}
@font-face { font-family: 'sukhumvit_settext'; 
	src: url("../fonts/sukhumvitset-text-webfont-webfont.eot"); 
	src: url("../fonts/sukhumvitset-text-webfont-webfont.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/sukhumvitset-text-webfont-webfont.woff") format("woff"), 
	url("../fonts/sukhumvitset-text-webfont-webfont.ttf") format("truetype"), 
	url("../fonts/sukhumvitset-text-webfont-webfont.svg#sukhumvit_settext") format("svg"); font-weight: normal; font-style: normal; 
}
@font-face { font-family: 'sukhumvit_setbold'; 
	src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot"); 
	src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/sukhumvitset-bold-webfont-webfont.woff") format("woff"), 
	url("../fonts/sukhumvitset-bold-webfont-webfont.ttf") format("truetype"), 
	url("../fonts/sukhumvitset-bold-webfont-webfont.svg#sukhumvit_setbold") format("svg"); font-weight: normal; font-style: normal; 
}

