.ico {
  background-image: url(../images/icon-taradnet.png);
  background-repeat: no-repeat;
  background-size: 560px;
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }
  .ico.ico-teltop {
    background-position: -50px -93px; }
  .ico.ico-tel {
    background-position: -87px -93px; }
  .ico.ico-fb {
    background-position: -12px -92px; }
  .ico.ico-line {
    background-position: -160px -92px; }
  .ico.ico-address {
    background-position: -124px -92px; }
  .ico.icon-call {
    background-position: -992px -80px;
    width: 40px;
    height: 40px;
    background-size: 1350px; }
  .ico.ico-map {
    background-position: -1405px -138px; }
  .ico.ico-mail {
    background-position: -1532px -151px; }
  .ico.ico-fax {
    background-position: -1784px -136px; }
  .ico.ico-chackgreen {
    background-position: -612px -74px; }
  .ico.ico-chackorange {
    background-position: -418px -58px;
    background-size: 600px;
    width: 42px;
    height: 42px; }
  .ico.ico-unchack {
    background-position: -655px -74px; }
  .ico.ico-chackgreen, .ico.ico-unchack {
    background-size: 800px;
    width: 50px;
    height: 50px; }
